@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This doesn't collect any private information. <strong>All card/bank operations are carried out via Paystack.</strong> Be sure to check out their <a href="https://paystack.io/privacy">privacy policy</a>.</p>
